.App {
  text-align: center;
  font-size: large;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data {
  margin: 30px;
}

.container {
  height: calc(100vh - 140px);
  overflow: auto;
}

footer {
  background-color: #222;
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100vw;
}