.App {
    text-align: center;
    font-size: large;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.App-header {
    background-color: #222;
    height: 50px;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data {
    margin: 30px;
}

.container {
    /* height: calc(100vh);
    overflow: auto; */
}

.tweet {
    background: aliceblue;
    max-width: 350px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;

}

footer {
    background-color: #222;
    height: 50px;
    /* position: fixed; */
    /* bottom: 0; */
    width: 100vw;
}